.more {
    background-color: #f2f2f2;
}

.more .more__header {
    background-color: white;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.more__header i {
    color: #523737;
}

.more__header .more-header__column {
    display: flex;
    align-items: center;
}

.more-header__column img {
    width: 50px;
    border-radius: 50%;
    margin-right: 20px;
}

.more-header__info .more-header__title {
    font-weight: 600;
    margin-bottom: 5px;
}

.more-header__info .more-header__subtitle {
    font-size: 12px;
    color: #b4b4b4;
}

.more .more__options,
.more .more__plus-friends {
    margin-bottom: 10px;
    background-color: white;
}

.more .more__options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more__options .more__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    padding-top: 20px;
    color: #523737;
}

.more__option .more__option-title {
    margin-top: 10px;
    font-size: 12px;
}

.more .more__plus-friends {
    padding: 20px;
}

.more__plus-friends .plus-friends__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 30px;
}

.plus-friends__header .plus-friends__learn-more {
    color: #b4b4b4;
}

.plus-friends__items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.plus-friends__items .plus-friends__item {
    width: 50%;
    margin-bottom: 30px;
}

.plus-friends__item i {
    margin-right: 20px;
}

.plus-friends__item .plus-friends__item-title {
    font-size: 13px;
}

.more__links {
    display: flex;
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
}

.more__links .more__option {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.more__links .more__option img {
    height: 45px;
    margin-bottom: 10px;
}

.more__links .more__option .more__options-title {
    font-size: 12px;
}
